[build]
  publish = "public"
  functions = "netlify/functions"

[dev]
  framework = "#static"
  publish = "public"
  functions = "netlify/functions"
  targetPort = 8888

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"

[[headers]]
  for = "/.netlify/functions/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "POST, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type"